<div class="container mt-3">

  <h4 class="border-bottom pb-2">Table Advanced</h4>
  <p>Componente table para trabalhar com dados server-side.</p>


  <div class="row">

    <div class='col-3 border-right'>
      <a (click)="anchor(config_backend)">Configurações BACKEND</a>
      <br>
      <a (click)="anchor(config_frontend)">Configurações FRONTEND</a>
      <br>
      <a (click)="anchor(id_table)">--Identificação da table</a>
      <br>

    </div>

    <div class='col-9'>

      <tableadv id='tableUsers' [data]="gridDataUsers" [gridHeader]="gridHeaderUsers" (onGetData)="getDataUsers($event)">
      </tableadv>
    
      <div class="mt-2 small" style="opacity: .4;">*Dados estáticos, somente para exemplo</div>
      
      <div  iv class="doc-content mt-4">
    
    
        <h3 class="border-bottom pb-2" #config_backend >Configurações BACKEND</h3>
        <section>
          ...
        </section>
    
    
        <h3 class="border-bottom pb-2" #config_frontend>Configurações FRONTEND</h3>
        <section>
          <p>Crie um componente, para o exemplo UsersComponent.</p>
    
          <p>Em users-component.ts: Crie 3 propriedades 'tableadvIdUser','tableadvUsers', 'tableadvUsersHeader' e um método,'getDataUsers()'.</p>
          
          Onde:
          <ul>   
            <li> tableadvIdUser: recebe o id único da tabela;</li>
            <li> tableadvUsers: recebe os dados vindos da api;</li>
            <li> tableadvUsersHeader: é a configuração das colunas;</li>
            <li> getDataUsers(): método que irá acessar o servicço dos dados na api.</li>
          </ul>  
        
    
            <h5 class="border-bottom pt-4" #id_table>Configuração do ID da table</h5>
            <section>
              Somente informe um nome único para a tabela:
              <pre><code>tableadvIdUser:string = 'tableUsers'</code></pre>
            </section>
    
    
            <h5 class="border-bottom pt-4">Configuração das colunas</h5>
            <section>
              Em tableadvUsersHeader, configure as colunas e a ordem delas, existem algumas propriedades obrigatórias:
    
              <ul>   
                <li> db: (string): nome da coluna no banco de dados a ser exibida; </li>
                <li> label: (string): texto a ser exibido no cabeçalho da tabela;</li>
              </ul>
    
              <pre><code>tableadvUsersHeader = [
                {{ '{' }}
                    db:"name", label:"Nome do usuário"
                {{ '}' }},
    
                {{ '{' }}
                    db:"email", label:"Email do usuário"
                {{ '}' }},
              ]</code></pre>
    
    
    
              A prop search pode ser uma string ou um objeto, se a pesquisa for feita na tabela primária, somente definir o nome da coluna já basta. Agora, se a pesquisa precisa ser em uma tabela relacionada com a primária, é necessário informar mais informações. Como estamos usando modelos no backend Laravel, vamos passar as configurações do nome do modelo e da coluna no modelo. Exemplificando, o usuário precisa pegar um endereço em uma tabela relacionada, com o model 'address' e sua coluna 'name'. A prop 'db' também tem que buscar os dados no modelo e coluna:
            
              <pre><code>tableadvUsersHeader = [
                {{ '{' }}
                    db:"name", label:"Nome do usuário",
                    search: "name", order: {{ '{' }}db:"name{{ '}' }}
                {{ '}' }},
    
                {{ '{' }}
                    db:"email", label:"Email do usuário",
                    earch: "email", order:  {{ '{' }}db:"email{{ '}' }}
                {{ '}' }},
    
                {{ '{' }}
                  db:"address.name", label:"Endereço do usuário",
                  search: {{ '{' }}model:"address", field:"name"{{ '}' }}
                 {{ '}' }}
              ]</code></pre>
    
    
    
              A prop order tem como propriedade obrigatória o 'db' que é o nome da coluna a ordenar na tabela. Se for uma ordenação na tabela primária, somente essa prop é necessária. Se for uma ordenação na tabela relacionada, é necessário mais dados. Exemplificando, ordenar pelo nome do endereço, no model address:
            
              <pre><code>tableadvUsersHeader = [
                {{ '{' }}
                    db:"name", label:"Nome do usuário",
                    search: "name", order: {{ '{' }}db:"name{{ '}' }}
                {{ '}' }},
    
                {{ '{' }}
                    db:"email", label:"Email do usuário",
                    earch: "email", order:  {{ '{' }}db:"email{{ '}' }}
                {{ '}' }},
    
                {{ '{' }}
                  db:"address.name", label:"Endereço do usuário",
                  search: {{ '{' }}model:"address", field:"name"{{ '}' }}
                 
                  order: {{ '{' }}
                      db:'address.name', 
                      table_secondary:"address", 
                      field_secondary:"name", 
                      field_inner_primary:"address_id"
                  {{ '}' }}
                {{ '}' }}
            ]</code></pre>
    
    
            Onde:
            <ul>   
              <li> db: nome da coluna a ordenar; </li>
              <li> ttable_secondary: nome da tabela (não do modelo) relacionada; </li>
              <li> field_secondary: nome da coluna na tabela relacionada; </li>
              <li> field_inner_primary: nome da coluna na tabela primária que se relaciona com o id da secundaria.</li>
            </ul>    
            
            
            </section>
    
    
            <h5 class="border-bottom pt-4">Configuração dos dados</h5>
            <section>
              Os dados da tabela virão de uma api que será consumida por um serviço (usersService). No método 'getDataUsers()', teremos a seguinte lógica:
    
              <pre><code>
              getDataUsers(event:any){{ '{' }}
    
                  if(event.id == this.tableadvIdUser){{ '{' }}
    
                      this.usersService.get(event).subscribe({{ '{' }}
                          next: (response)=>{{ '{' }}
                              this.tableadvUsers = response
                          {{ '}' }}
                      {{ '}' }})
    
                  {{ '}' }}
    
              {{ '}' }}
              </code></pre>
    
    
    
              Assim o retorno da api será atribuida a prop 'tableadvUsers'. E nesse método, é onde poderá alterar os dados da api para inserções de novas colunas, componentes ou transformar os dados.
              <pre><code>
                getDataUsers(event:any){{ '{' }}
      
                    if(event.id == this.tableadvIdUser){{ '{' }}
      
                        this.usersService.get(event).subscribe({{ '{' }}
                            next: (response)=>{{ '{' }}
    
                                response.data.forEach((item:any) => {{ '{' }}      
                                  item['nova_coluna'] = "texto fixo na nova coluna"
                                {{ '}' }});
    
                                this.tableadvUsers = response
                            {{ '}' }}
                        {{ '}' }})
      
                    {{ '}' }}
      
                {{ '}' }}
              </code></pre>
    
    
    
              Essa nova coluna, deve ser informada na prop 'tableadvUsersHeader':
              <pre><code>tableadvUsersHeader = [
                {{ '{' }}
                    db:"name", label:"Nome do usuário",
                    search: "name", order: {{ '{' }}db:"name{{ '}' }}
                {{ '}' }},
    
                {{ '{' }}
                    db:"email", label:"Email do usuário",
                    earch: "email", order:  {{ '{' }}db:"email{{ '}' }}
                {{ '}' }},
    
                {{ '{' }}
                  db:"address.name", label:"Endereço do usuário",
                  search: {{ '{' }}model:"address", field:"name"{{ '}' }}
                 
                  order: {{ '{' }}
                      db:'address.name', 
                      table_secondary:"address", 
                      field_secondary:"name", 
                      field_inner_primary:"address_id"
                  {{ '}' }}
                {{ '}' }},
    
                {{ '{' }}
                  db:"nova_coluna", label:"Nova coluna",
                {{ '}' }},
            ]</code></pre>
    
            </section>
    
    
            <h5 class="border-bottom pt-4">Uso com componentes externos</h5>
            <section>
              Você pode criar uma coluna com base em um componente externo. Basta criar uma nova coluna em 'tableadvUsersHeader', vamos chamar de 'options'.
            
              <pre><code>tableadvUsersHeader = [
                {{ '{' }}
                    db:"name", label:"Nome do usuário",
                    search: "name", order: {{ '{' }}db:"name{{ '}' }}
                {{ '}' }},
    
                {{ '{' }}
                    db:"email", label:"Email do usuário",
                    earch: "email", order:  {{ '{' }}db:"email{{ '}' }}
                {{ '}' }},
    
                {{ '{' }}
                  db:"address.name", label:"Endereço do usuário",
                  search: {{ '{' }}model:"address", field:"name"{{ '}' }}
                 
                  order: {{ '{' }}
                      db:'address.name', 
                      table_secondary:"address", 
                      field_secondary:"name", 
                      field_inner_primary:"address_id"
                  {{ '}' }}
                {{ '}' }},
    
                {{ '{' }}
                  db:"nova_coluna", label:"Nova coluna",
                {{ '}' }},
    
                {{ '{' }}
                  db:"options", label:"", //não exibirá texto no cabeçalho
                {{ '}' }}
              ]</code></pre>
    
    
    
              Assim no método 'getDataUsers(), configure a coluna:
              <pre><code>
                getDataUsers(event:any){{ '{' }}
      
                    if(event.id == this.tableadvIdUser){{ '{' }}
      
                        this.usersService.get(event).subscribe({{ '{' }}
                            next: (response)=>{{ '{' }}
    
                                response.data.forEach((item:any) => {{ '{' }}      
                                item['option'] = {{ '{' }} component: {{ '{' }} instance: OptionsComponent, properties: {{ '{' }} data: item {{ '}' }} {{ '}' }} {{ '}' }}
                                {{ '}' }});
    
                                this.tableadvUsers = response
                            {{ '}' }}
                        {{ '}' }})
      
                    {{ '}' }}
      
                {{ '}' }}
              </code></pre>
    
    
    
              Suponha que OptionsComponent, terá sua propria logica baseada em um objeto da api. Nosso caso, OptionsComponent irá exibir opções ao clicar em um icone. Para configurar é preciso informar a instancia do componente e suas propriedades se houver.
              <pre><code>
              .
              .
              item['option'] = {{ '{' }} 
                  component: 
                  {{ '{' }} 
                      instance: OptionsComponent, 
                      properties: {{ '{' }} data: item {{ '}' }} 
                  {{ '}' }} 
              {{ '}' }}
              .
              .
              </code></pre>
    
    
    
              Em `users-component.html`:No html simplesmente chame o seletor 'tableadv' e informe os atributos que configuramos:
              <pre><code>
                &lt;tableadv [id]="tableadvIdUser" [data]="tableadvUsers" [gridHeader]="tableadvUsersHeader" (onGetData)="getDataUsers($event)"> &lt;/tableadv>
              </code></pre>
    
              Onde:
              <ul>   
                <li> *id*: o id único da tabela; </li>
                <li> *data*: são os dados da api em array; </li>
                <li> *gridHeader*: dados da configuração das colunas; </li>
                <li> *onGetData*: evento que irá chamar o método getDataUsers(), que deve receber $event;.</li>
              </ul>   
    
    
              Em `app-module.ts`: Faça o import dos modulos:
              <pre><code>
              import {{ '{' }} TableAdvModule {{ '}' }} from '@kassdoug/tableadv';
              import {{ '{' }} NgModule {{ '}' }} from '@angular/core';
              import {{ '{' }} BrowserModule {{ '}' }} from '@angular/platform-browser';
              import {{ '{' }} AppComponent {{ '}' }} from './app.component';
              import {{ '{' }} FormsModule, ReactiveFormsModule {{ '}' }} from '@angular/forms';
              import {{ '{' }} CommonModule {{ '}' }} from '@angular/common';
    
              @NgModule({{ '{' }}
                declarations: [
                  AppComponent
                ],
                imports: [
                  TableAdvModule,
                  BrowserModule,  
                  FormsModule, 
                  ReactiveFormsModule,     
                  CommonModule
                ],
                providers: [],
                bootstrap: [AppComponent]
                {{ '}' }})
              export class AppModule {{ '{}' }}
              </code></pre>
    
    
            </section>
          
        </section> 
        
    
    
    
      </div>



    </div>
  </div>




<div>
    

<br><br>