
<div class="adv-sidebar-content {{theme}} {{position}}">
  

  <div class="sidebar" [ngClass]="{'withHover':withHover, 'hide': !showToggle, 'show':showToggle}" (onSidebarTooggle)="hoverSidebarToggle()">   

    <button *ngIf="!withHover" class="btn-showhide" [ngClass]="{'hide':!showToggle}" (click)="sidebarToggle()">
      <i class="fa-solid fa-xmark"></i>  
    </button>

    <div class="content-links">           

      <div class="header">
        <div *ngIf="!headerIsComponent, else headerContainer" [innerHTML]="header"></div>
        <ng-template #headerContainer><div style="width: 100%;"><ng-container #containerHeader></ng-container></div></ng-template> 
      </div>

      <div *ngIf="search" class="search border-bottom py-2">

        <div class="input-group p-3">
          <input type="text" class="form-control form-control-sm" (keyup)="searchLinks()" placeholder="Buscar menu..." aria-label="Buscar menu..."  [(ngModel)]="filter_link">
          <button class="btn btn-sm btn-outline-secondary" type="button" (click)="clearInputSearchlinks()"><i class="fa-solid fa-broom"></i></button>
        </div>
      </div>
    
      <div *ngFor="let link of links_list">   
        <app-navigation-link [link]="link" [theme]="theme" [permissions]="permissions" [usePermissions]="usePermissions"></app-navigation-link>
      </div>
      
    </div>     
      
  </div>


  <div class="content" [ngClass]="{'withtopbar':topbar !== null}">  

    <div class="topbar" *ngIf="topbar != null; else noTopbar">

      <button *ngIf="!withHover" class="btn-showhide" [ngClass]="{'hide':!showToggle}" (click)="sidebarToggle()">
        <i class="fa-solid" 
          [ngClass]="{
            'fa-circle-chevron-right':(!showToggle && position=='left' || showToggle && position=='right'),
            'fa-circle-chevron-left':(showToggle && position=='left' || !showToggle && position=='right'),

          }"
        ></i>    
      </button>


      <div *ngIf="!topbarIsComponent, else topbarContainer" [innerHTML]="topbar"></div>
      <ng-template #topbarContainer><div style="width: 100%;"><ng-container #containerTopbar></ng-container></div></ng-template> 
      

    </div>

    <ng-template #noTopbar>      
      <button *ngIf="!withHover" class="btn-showhide" [ngClass]="{'hide':!showToggle}" (click)="sidebarToggle()">
        <i class="fa-solid" 
          [ngClass]="{
            'fa-circle-chevron-right':(!showToggle && position=='left' || showToggle && position=='right'),
            'fa-circle-chevron-left':(showToggle && position=='left' || !showToggle && position=='right'),

          }"
        ></i>    
      </button>
    </ng-template>
    

    <ng-content></ng-content> 
    <router-outlet></router-outlet>  
  </div>

</div> 