@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import "../../assets/themes/light.scss";
@import "../../assets/themes/dark.scss";

$sidebar-width: 300px;

.adv-sidebar-content {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  z-index: 700;
  justify-content: space-between;

  &.right {
    flex-direction: row-reverse;

    .sidebar {
      margin-right: 0;
 
      .content-links {        

        .btn-showhide {
          left: 5px;
        }
      }

      &.hide {
        margin-right: -$sidebar-width;

        & ~ .content {
          width: 100%;
        }
      }

      &.withHover {
        min-width: $sidebar-width;
        margin-right: calc(($sidebar-width - 15px) * -1);
        &.hide {
          margin-right: calc(($sidebar-width - 15px) * -1) - 15px;
        }

        &:hover {
          margin-right: 0px;
        }

        & ~ .content {
          width: 100%;
        }
      }
    }

    .content {
      .btn-showhide {
        right: 15px;
      }
    }
  }

  &.left {
    flex-direction: row;

    .sidebar {
      margin-left: 0;

      .content-links {          

        .btn-showhide {
          right: 5px;
        }
      }

      &.hide {
        margin-left: -$sidebar-width;

        & ~ .content {
          width: 100%;
        }
      }

      &.withHover {
        min-width: $sidebar-width;
        margin-left: calc(($sidebar-width - 15px) * -1);

        &.hide {
          margin-left: calc(($sidebar-width - 15px) * -1) - 15px;
        }

        &:hover {
          margin-left: 0px !important;
        }

        & ~ .content {
          width: 100%;
        }
      }
    }

    .content {
      .btn-showhide {
        left: 15px;
      }
    }
  }

  .sidebar {
    position: relative;
    width: $sidebar-width;
    transition: all ease-in-out 0.3s;
    z-index: 900;

    .content-links {
      position: absolute;
      box-shadow: 0px 11px 22px -5px rgba(0, 0, 0, 0.8);
      width: 100%;
      min-height: 100%;
      max-height: 100%;
      overflow: hidden;
      overflow-y: auto;      

      &::-webkit-scrollbar {
        width: 5px;
        background: transparent !important;
      }

      &::-webkit-scrollbar-track {
        border-radius: 15px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #81818165;

        &:hover {
          background-color: #3b3b3b;
        }
      }

      .header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40px;
        padding: 10px;
      }

      .search {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .form-control-search {
          border-radius: 5px;
          border: 1px solid #ddd;
          width: 90%;
          padding: 5px;
          margin: 5px;
          height: 30px;
          font-size: 0.7rem;
        }
      }
    }
  }

  .content {
    width: calc(100vw - $sidebar-width);
    overflow: hidden;
    overflow-y: auto;
    transition: all ease-in-out 0.3s;
    z-index: 900;
    min-height: 100%;
    position: relative;
    padding: 0 !important;

    &.withtopbar {
      padding-top: 60px !important;
    }

    .topbar {
      width: 100%;
      position: absolute;
      top: 0;
      padding: 15px;
      padding-left: 50px;
      box-sizing: border-box;
      box-shadow: 9px 11px 22px -5px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #fff;
      font-size: 0.9rem;
      min-height: 40px;
      max-height: 40px;
    }
  }

  .sidebar,
  .content {
    .btn-showhide,
    .sidebar .btn-showhide,
    .topbar .btn-showhide {
      top:10px;
      padding: 4px;
      cursor: pointer;
      opacity: 0.8;
      transition: all ease-in-out 0.3s;
      position: absolute;
      background: transparent;
      opacity: .4;
      z-index: 1000;
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 360px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-weight: bold;
        font-size: 1.5rem;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .sidebar .btn-showhide {
    opacity: .7;
    i{
      font-size: 1.2rem;
    }   
  }
}

@media screen and (max-width: 720px) {
  .adv-sidebar-content {
    &.left,
    &.right {
      .sidebar {
        z-index: 1000;
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;

        background-color: #fff;

        .btn-showhide {
          right: 15px;
          top: 15px;
          position: absolute;
          display: block;

          i {
            font-size: 1.5rem;
          }
        }

        &.hide {
          margin-left: -100%;
        }

        .content-links {
          padding: 30px;
          border-radius: 10px;
        }
      }

      .content {
        width: 100vw;
      }
    }
  }
}





