<ul class="adv-links  {{theme}}">

  <li *ngIf="link.path && !usePermissions || usePermissions && link.path && checkPermission(link.permissions)" class="adv-btn-link-area">
    <button class="adv-btn-link" [routerLink]="link.path">
      <div class="label-area">      
        <div *ngIf="link.icon" [innerHTML]="link.icon" class="icon"></div>
        {{link.label}}
      </div>
    </button>

    <i *ngIf="!link.favArea" class="pointer fa-star starfav" [ngClass]="{'active':link.isfav, 'fa-solid':link.isfav, 'fa-regular':!link.isfav}" [id]="'fav_'+link.label!.replace(' ','').toLowerCase()" (click)="setFav(link)"></i>

  </li>




  <li *ngIf="link.divider" class="">
    <div class='divider'>{{link.divider}}</div>
  </li>




  <li *ngIf="link.id && !usePermissions || usePermissions && link.id && checkPermission(link.permissions)" class="adv-area-sub">

    <button (click)="arrow()" class="adv-btn-expand" [ngClass]="{'active':arrowActive}">
      <div class="label-area"> 
        <div *ngIf="link.icon" [innerHTML]="link.icon" class="icon"></div>
        {{link.label}}
      </div>
      <!-- <span class='arrow'><i [ngClass]="arrowActive ? 'fa-chevron-down' : 'fa-chevron-right'" class="fa-solid fa-chevron-down small"></i></span> -->
      <span class='arrow' [ngClass]="arrowActive? 'active':''"><i class="fa-solid fa-chevron-down small"></i></span>
    </button>

    <div class="" id="{{link.id}}">
      <ul class="adv-links-sub" [ngClass]="{'adv-hide-submenu': !arrowActive}">

        <li *ngFor="let sub of link.links">
          <app-navigation-link [link]="sub" [theme]="theme" [permissions]="permissions" [usePermissions]="usePermissions"></app-navigation-link>
        </li>

      </ul>
    </div>

  </li>


</ul>
