.adv-links {
    list-style: none;
    padding: 0 10px;
    margin: 0 !important;

    .adv-links-sub {
        list-style: none;
        width: 100%;
        padding-left: 0 !important;
        transition: all ease-in .8s, all ease-out .5s;
        max-height: 100vh;

        li{
            position: relative;
            opacity: 1;
            transition: all ease-in .5s, all ease-out .8s, transform ease-in-out .3s;
            max-height: 100vh;
            transform: translateX(0);
        }

        &.adv-hide-submenu {           
            max-height: 0; 
            // display: none;     

            li{   
                margin-top:0;
                opacity: 0;             
                max-height: 0;   
                transform: translateX(-100%);
            }

            .adv-btn-link {
                margin-top: 0;
            }
        }

        .adv-links {
            padding: 0 0 0 10px;

            .adv-btn-link {
                border-left: 1px solid rgba(0, 0, 0, 0.2);
                margin: 0;
                border-radius: 0 5px 5px 0 ;
            }
        }


    }

    .adv-btn-expand,
    .adv-btn-link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: none;
        width: 100%;
        padding: 10px;
        cursor: pointer;
        opacity: .7;
        transition: all ease-in-out .3s;
        font-size: .8rem;
        border-radius: 5px;
        border-left: 2px solid rgba(255, 0, 0, 0);

        &:hover {
            opacity: 1;
        }

        &.active{
            border-color: rgb(7, 105, 116);
            border-radius: 0 5px 5px 0px;
        }
    }

    .adv-btn-expand {
        margin: 5px 0;

        .icon{
            margin-right: 5px;
        }

        &.active,
        &:hover {
            background-color: rgba(11, 11, 11, 0.1);
        }
    }

    .adv-btn-link-area{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .adv-btn-link {
            margin: 5px 0;
            background-color: rgba(221, 221, 221, 0);
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                background-color: rgba(11, 11, 11, 0.1);
            }

            .icon{
                margin-right: 5px;
            }    

        }

        .starfav{
            cursor: pointer;
            font-size: .8rem;
            opacity: .3;
            padding: 5px;
            border-radius: 5px;
            margin: 0 5px;
            transition: all ease-in-out 0.4s;

            &:hover{                
                color: rgb(163, 163, 15);
            }

             &.active{
                opacity: 1;
                color: rgb(163, 163, 15);
            }
        }
    }


    .divider {
        font-size: .7rem;
        opacity: .4;
        padding: 5px;
        margin: 10px 0 5px 0;
        border-bottom: 1px solid #ddd;
    }
}










//theme: dark ------------------------------------------------------------
.adv-links.dark{
    color:#fff;

    .adv-btn-expand{
        background-color: #ffffff00;
        color: #fff;

        &.active,
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);

        }

        &.active{
            border-color: rgb(0, 229, 255);
        }

    }

    .adv-btn-link{
        background-color: #ffffff00;
        color: #fff;

        &.active,
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }


    }

    .adv-links-sub {     

        .adv-links {
            .adv-btn-link {
                border-left: 1px solid rgba(255, 255, 255, 0.2);

                &:hover{
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }

    }

    .divider {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

}