.adv-links {
  list-style: none;
  padding: 0 10px;
  margin: 0 !important;

  .label-area {
    justify-content: space-between;
    align-items: center;
    display: flex;
    background: transparent;

    .icon {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 25px;
      height: 25px;
      margin-right: 5px;
      border-radius: 5px;
      padding: 5px;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.75);
      margin-right: 15px;
      border: 1px solid rgba(0, 0, 0, 0);
    }
  }
  .arrow {
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all ease-in-out 0.2s;

    &.active {
      transform: rotate(-180deg);
    }
  }

  .adv-links-sub {
    list-style: none;
    width: 100%;
    padding-left: 0 !important;
    transition: all ease-in 0.8s, all ease-out 0.5s;
    max-height: 100vh;

    li {
      position: relative;
      opacity: 1;
      transition: all ease-in 0.5s, all ease-out 0.8s,
        transform ease-in-out 0.3s;
      max-height: 100vh;
      transform: translateX(0);
    }

    &.adv-hide-submenu {
      max-height: 0;

      li {
        margin-top: 0;
        opacity: 0;
        max-height: 0;
        transform: translateX(-100%);
      }

      .adv-btn-link {
        margin-top: 0;
      }
    }

    .adv-links {
      padding: 0 0 0 10px;

      .adv-btn-link {
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        margin: 0;
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .adv-btn-expand,
  .adv-btn-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: all ease-in-out 0.3s;
    font-size: 0.8rem;
    border-radius: 5px;

    &:hover {
      opacity: 1;
    }

    &.active {
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.25);
    }
  }

  .adv-btn-expand {
    margin: 5px 0;
    background: transparent;
  }

  .adv-btn-link-area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .adv-btn-link {
      margin: 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .starfav {
      cursor: pointer;
      font-size: 0.8rem;
      opacity: 0.3;
      padding: 5px;
      border-radius: 5px;
      margin: 0 5px;
      transition: all ease-in-out 0.4s;

      &:hover {
        color: hsl(45, 100%, 51%);
      }

      &.active {
        opacity: 1;
        color: hsl(45, 100%, 51%);
      }
    }
  }

  .divider {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px;
    margin: 15px 0 5px 0;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
}

@import "../../assets/themes/light.scss";
@import "../../assets/themes/dark.scss";
@import "../../assets/themes/purple.scss";
@import "../../assets/themes/blue.scss";
