<div class="row p-2">
  <div class="col h5 fw-bold text-center">
    SidebarAdv
  </div>
</div>


<div class="row">
  <div class="col-12 d-flex justify-content-between align-items-center">


    <div class="btn-group">

      <button type="button" class="h6 btn btn-sm"  style="background-color: rgba(218, 218, 218, 1);" (click)="themer('light')"><i
          class="small text-dark fa-solid fa-brush"></i></button>

      <button type="button" class="h6 btn btn-sm" style="background-color: rgba(69, 69, 69, 1);" (click)="themer('dark')"><i
          class="small text-light fa-solid fa-brush"></i></button>

       <button type="button" class="h6 btn btn-sm" style="background-color: rgba(113,25,105,1);" (click)="themer('custom')"><i
          class="small text-light fa-solid fa-brush"></i></button>

    </div>

   
    
    <button type="button" class="h6 btn btn-sm btn-light rounded-circle mx-1" (click)="faver()"
      title="Ligar/desligar favoritos">
      <i *ngIf="!useFav" class="fa-regular fa-star" style="opacity: .2;"></i>
      <i *ngIf="useFav" class="text-warning fa-solid fa-star"></i>
    </button>
 

    <button type="button" class="h6 btn btn-sm btn-light rounded-circle mx-1" (click)="searcher()"
      title="Ligar/desligar buscar por menu">
      <i *ngIf="!search" class="fa-solid fa-magnifying-glass" style="opacity: .2;"></i>
      <i *ngIf="search" class="text-success fa-solid fa-magnifying-glass"></i>
    </button>

    <button type="button" class="h6 btn btn-sm btn-light rounded-circle mx-1" (click)="withhover()"
      title="Ligar/desligar hover">
      <i *ngIf="!hover" class="fa-solid fa-arrow-right-arrow-left" style="opacity: .2;"></i>
      <i *ngIf="hover" class="text-success fa-solid fa-arrow-right-arrow-left"></i>
    </button>

    <button type="button" class="h6 btn btn-sm btn-light rounded-circle mx-1" (click)="positioner()"
      title="Posição da barra">
      <i *ngIf="position == 'left'" class="fa-solid fa-left-long"></i>
      <i *ngIf="position == 'right'" class="fa-solid fa-right-long"></i>
    </button>

  </div>
</div>