<div class="" [ngClass]="{'gd-backdrop': screenMaximize}"></div>

<div id="gd-container-{{id}}" class='gd-container' [ngClass]="{'fullscreen':screenMaximize}">

  <small class="gd-version"> {{version}} </small>

  <!-- header -->
  <div class="gd-header">

    <div class="gd-form-group">

      <input class='gd-input-search' placeholder="Pesquisar Geral..." [(ngModel)]="whereValue" (keyup.enter)="onSearch()">
      <button class='gd-btn' (click)="onSearch()" gd-tooltip="Faz a pesquisa solicitada">
        <i class="fa-solid fa-magnifying-glass" ></i>
      </button>
      <button class='gd-btn' (click)="onCleanSearch()" gd-tooltip="Limpa a pesquisa e reseta os dados">
        <i class="fa-solid fa-broom"></i>
      </button>

      <span gd-tooltip="Quantidade de registros por página">
        <select class="gd-select-qntreg" [(ngModel)]="totalRegisterPerPage" (change)="setRegistrsPerPage()" >
          <option value=5>05</option>
          <option value=10>10</option>
          <option value=50>50</option>
          <option value=100>100</option>
          <option value=150>150</option>
        </select>
      </span>

    </div>

    <div class="gd-controls">

      <button (click)="emitGetData()" gd-tooltip="Atualiza os dados">
        <i class="fa-solid fa-rotate"></i>
      </button>

      <button (click)="maximizeToggle()" gd-tooltip="Maximiza e minimiza">
        <i *ngIf="!screenMaximize" class="fa-solid fa-maximize"></i>
        <i *ngIf="screenMaximize" class="fa-solid fa-minimize"></i>
      </button>

    </div>

  </div>



  <!-- body -->
  <div class="gd-body" appScrollListener (fixedHeader)="fixeHeader($event)">

    <div *ngIf="data == null" class="not-reg">{{message}}</div>
    <button *ngIf="data == null" class="p-2 btn btn-sm btn-outline-dark" (click)="onCleanSearch()">Recarregar <i class="fa-solid fa-broom"></i></button>

    <table  *ngIf="data != null">
      <tr class="gd-header-row" [ngClass]="{'fixed': isFixed}">

        <th class="gd-col" *ngFor="let col of gridHeader" [style.width]="col.width">
          <div>
              {{col.label}}

              <i *ngIf="col.order" style="cursor: pointer;" #elementOrder
                class="icon-order fa-solid fa-sort opacity-50 mx-2 px-1 btn-tabledata-order" id='order_{{col.order.db}}'
                (click)="onReorder(col.order)">
              </i>
          </div>
        </th>
      </tr>

      <tr *ngIf="CheckIsShowRowSearch(gridHeader)">
        <th class="gd-col" *ngFor="let col of gridHeader" [style.width]="col.width">
          <InputIndividualSearch
            (addFilterEvent)="addIndividualFilter($event)"
            [search]="col.search"
            *ngIf="col.individualfilter"
          ></InputIndividualSearch>
        </th>
      </tr>

      <tr class="gd-body-row" *ngFor="let row of data.data; let i = index" [ngClass]="{'even': i % 2 !== 0}">
        <td class="gd-col" *ngFor="let col of gridHeader" [style.width]="col.width">
          <gd-cell [row]="row" [col]="col"></gd-cell>
        </td>
      </tr>
    </table>

  </div>




  <!-- footer -->
  <div class="gd-footer" *ngIf="data !== null">

    <div class="gd-info">
      <div>Exibindo página <strong>{{actualPage}}</strong> de <strong>{{lastPage}}</strong></div>
      <div>Total de registros <strong>{{totalRegisters}}</strong></div>
    </div>

    <div class="gd-pagination">

      <button [disabled]="1 == actualPage" [ngClass]="{'disabled': 1 == actualPage}" (click)="setFirstPage()"> <i class="fa-solid fa-backward"></i> </button>
      <button [disabled]="1 == actualPage" [ngClass]="{'disabled': 1 == actualPage}" (click)="setBeforePage()"> <i class="fa-solid fa-caret-left"></i> </button>

      <button [disabled]="page == actualPage" [ngClass]="{'bg-selected': page == actualPage}" *ngFor="let page of totalPagesArray" (click)="setActualPage(page)"> {{page}} </button>

      <button [disabled]="lastPage== actualPage" [ngClass]="{'disabled': lastPage == actualPage}" (click)="setNextPage()"> <i class="fa-solid fa-caret-right"></i> </button>
      <button [disabled]="lastPage == actualPage" [ngClass]="{'disabled': lastPage == actualPage}" (click)="setLastPage()"> <i class="fa-solid fa-forward"></i> </button>

    </div>

  </div>

</div>
