<div class="container mt-2">
    <h4 class="border-bottom pb-2">Introdução</h4>

    <p>Segue documentação dos componentes NPM listados abaixo:</p>


    <ul class="list-group">
        <li class="list-group-item">
            <a [routerLink]="[ '/componentes/tableadv' ]">Tableadv</a> <small>1.1.0</small>
            <a href="https://www.npmjs.com/package/@kassdoug/tableadv">Pacote NPM</a>
        </li>
        <li class="list-group-item">
            <a [routerLink]="[ '/componentes/sidebaradv' ]">Sidebaradv</a> <small>1.0.0</small>
            <a href="https://www.npmjs.com/package/@kassdoug/sidebaradv">Pacote NPM</a>

        </li>
    </ul>




<div>


