.cover {
    height: 250px;
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  

  

  

  }
  